html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.search {
  height: 200px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  background-repeat: 10;
  border-radius: 5px;
  height: 50px;
  width: 300px;
  font-size: 24px;
}

.movies {
  display: flex;
  flex-wrap: wrap;
}

.movies__list-item {
  width: 300px;
  margin-right: 5px;
  list-style: none;
}
